.igalore__higlights {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  justify-content: center;
  align-items: center;

  width: 100vw;
  max-width: 100%;
  padding: 1em;
}

.igalore__higlights--item {
  z-index: 10;

  &:hover {
    z-index: 40;
  }
}
